[Unit]
Description=LiveMedia Config Script
Before=systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/usr/bin/zigzag-write-configuration --force live

[Install]
WantedBy=multi-user.target
